---
---

@import "{{ site.theme }}";
body {
  background-image: url("../../images/background.jpg");
  color: black;
  font-size: 110%;
}

a {
  color: #FF8C00;
}

.column {
  float: left;
  width: 50%;
}

.wrapper {
  width:1260px;
}

section {
  width:900px;
}
