---
---

@import "{{ site.theme }}";
body {
  background-image: url("../../images/background.jpg");
  color: black;
  font-size: 100%;
}

a {
  color: #c28496;
}

h1, h2, h3 {
  padding: 5px;
  background-color: #95a4cb;
}

.row {
  float: left;
  background-color: #ad9458;
}
.column {
  float: left;
  width: 480px;
  padding: 10px;
}


.wrapper {
  width:1360px;
}

section {
  width:1000px;
}
