---
---

@import "{{ site.theme }}";
body {
  background-image: url("../../images/background.jpg");
  color: black;
  font-size: 100%;
}


.project_section {
	display: flex;
}
.project_col {
	width: 50vw;
	
}
.project_row {
	height: 30vw;
}


a {
  color: #1A6F87;
}

h1 {
  padding: 5px;
  background-color: #D97F23;
  color: #393939;
  margin-bottom: 0;
}

h2, h3, h4, h5 {
  padding: 5px;
  background-color: #FFC07F;
  margin-bottom: 10px;
}


.row {
  background-color: #ad9458;
  margin-bottom: 20px;
  overflow: hidden;
}
.column {
  float: left;
  width: 480px;
  padding: 10px;
  overflow: hidden;
}


.wrapper {
  width:1360px;
}

section {
  width:1000px;
}
