---
---

@import "{{ site.theme }}";
body {
  background-image: url("../../images/background.jpg");
  color: black;
  font-size: 100%;
}

a {
  color: #dbca9e;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row {
  float: left;
  background-color: #eed2da;
  padding: 10px;
}

.wrapper {
  width:1360px;
}

section {
  width:1000px;
}
