---
---

@import "{{ site.theme }}";
body {
  background-image: url("../../images/background.jpg");
  color: black;
  font-size: 110%;
}

a {
  color: #ad9458;
}

.column {
  float: left;
  width: 50%;
}
.row {
  float: left;
  background-color: #c28496;
}

.wrapper {
  width:1260px;
}

section {
  width:900px;
}
