---
---

@import "{{ site.theme }}";
body {
  background-image: url("../../images/background.jpg");
  color: black;
  font-size: 100%;
}

a {
  color: #bcdde6;
}

h1 {
  padding: 5px;
  background-color: #c28496;
  color: #393939;
  margin-bottom: 0;
}

h2, h3 {
  padding: 5px;
  background-color: #c28496;
  margin-bottom: 10px;
}

h5 {
  font-size: 110%;
  margin: 0;
}

.row {
  background-color: #ad9458;
  margin-bottom: 20px;
  overflow: hidden;
}
.column {
  float: left;
  width: 480px;
  padding: 10px;
  overflow: hidden;
}


.wrapper {
  width:1360px;
}

section {
  width:1000px;
}
